
*{
    
    /* ░░░░░░░░░   VARIABLES   ░░░░░░░░░ */

    --font:"Courier New", serif;
    --prim-font:"Funnel Sans";
    --deco-font:"Funnel Display";

    /* ░░░░░░░░░   MAIN   ░░░░░░░░░ */

    font-family: var(--font);
}

body{

    background-color: #ebebeb;
    background-image: url("content/grid-instance-01.png") ;

}
