
*{
    
    /* ░░░░░░░░░   VARIABLES   ░░░░░░░░░ */

    --font:"Courier New", serif;
    --deco-font:"Funnel Display";
    --prim-font:"Funnel Sans";
    --color-gray-flat: hsl(0, 0%, 95%);
    --color-indigo: indigo;


    /* ░░░░░░░░░   MAIN   ░░░░░░░░░ */

    font-family: var(--font);

}

body{

    /* background-color: var(--color-gray-flat);
    background-image: url("../content/grid-instance-01.png");
    background-size: 91px; */

}
